accelerate==1.12.0
ipykernel==7.2.0
matplotlib==3.10.8
numpy==2.4.2
pandas==3.0.0
regex==2026.4.4
requests==2.33.1
scikit-learn==1.8.0
tokenizers==0.22.2
torch==2.10.0
transformers==5.2.0
wandb==0.25.0

nl_core_news_md @ https://github.com/explosion/spacy-models/releases/download/nl_core_news_md-3.8.0/nl_core_news_md-3.8.0-py3-none-any.whl#sha256=8969da865bb746189783c40197a7e2c082adda73b7fc0d9a364a5e644ff54e68
